<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <title>상품 등록</title>
    <link rel="stylesheet" href="/css/admin/admin-book-create.css">
</head>
<body>
<!-- 사이드바 -->
<div id="sidebar">
    <div id="logo">
        <a th:href="@{'/admin/bookList'}"><h2>We Read Up</h2></a>
    </div>
    <ul id="menu">
        <li><a href="/admin/bookList">상품 대시보드</a></li>
        <li><a href="/admin/bookCreate">상품 등록</a></li>
        <li><a href="#">주문 관리</a></li>
        <li><a href="#">재고 관리</a></li>
    </ul>
</div>

<form class="product-form">
    <!-- 상품 기본 정보 섹션 -->
    <div class="section">
        <h3>상품 기본 정보</h3>
        <table class="form-table">
            <tr>
                <th>상품명</th>
                <td><input type="text" id="product-name" class="long" /></td>
            </tr>
            <tr>
                <th>카테고리</th>
                <td>
                    <div class="category-container">
                        <div class="category-item" id="categoryLarge">
                            <div class="category-title">대분류</div>
                            <ul class="category-list" th:each="i : ${cl}">
                                <li th:text="${i.categoryLargeName}" class="category-large"></li>
                                <input type="hidden" class="category-large-id" th:value="${i.categoryLargeId}"/>
                            </ul>
                        </div>

                        <div class="category-item" id="categoryMedium">
                            <div class="category-title">중분류</div>
                        </div>

                        <div class="category-item" id="categorySmall">
                            <div class="category-title">소분류</div>
                        </div>
                    </div>
                    <div id="category-name" ></div>
                </td>
            </tr>
            <tr>
                <th>ISBN</th>
                <td><input type="text" id="isbn" class="medium" /></td>
            </tr>
            <tr>
                <th>역자</th>
                <td><input type="text" id="translator" class="medium" /></td>
            </tr>
            <tr>
                <th>가격 정보</th>
                <td class="multi-field">
                    <div class="inline-field" style="width:200px">정가(원) <input type="text" id="price-original" class="short" /> </div>
                    <div class="inline-field" style="width:200px">할인율(%) <input type="text" id="discount-rate" class="short" maxlength="4"  /> </div>
                    <div class="inline-field" style="width:200px">할인가격(원) <input type="text" id="price-discounted" class="short" readonly/> </div>

                    <div class="inline-field" style="width:200px">판매가(원) <input type="text" id="price-sale" class="short" readonly/> </div>
                </td>
            </tr>
            <tr>
                <th>등록일</th>
                <td><input type="date" id="reg-date" class="medium" /></td>
            </tr>
            <tr>
                <th>상품 이미지</th>
                <td>
                    <div class="img-preview"><img src="" id="img-preview" style="max-width: 100%; max-height: 300px;"/></div>
                    <input type="file" id="product-image" accept="image/*" /><br />
                </td>
            </tr>
            <tr>
                <th>상품 소개</th>
                <td>
                    <textarea id="product-description" cols="15" rows="20" class="long"></textarea><br />
                    <input type="file" id="description-image" accept="image/*" multiple>
                </td>
            </tr>
            <tr>
                <th>상품 목차</th>
                <td><textarea id="product-contents" cols="5" rows="5" class="long"></textarea></td>
            </tr>
            <tr>
                <th>기타 정보</th>
                <td class="multi-field">
                    <div style="width:200px" class="inline-field">재고(개) <input style="width:200px" type="text" id="stock" class="short" /></div>
                    <div style="width:200px" class="inline-field">사이즈(mm) <input style="width:200px" type="text" id="size" class="short" /></div>
                    <div style="width:200px" class="inline-field">무게(g) <input style="width:200px" type="text" id="weight" class="short" /></div>
                    <div style="width:200px" class="inline-field">페이지 수 <input style="width:200px" type="text" id="pages" class="short" /></div>
                </td>
            </tr>
        </table>
    </div>

    <!-- 저자 정보 섹션 -->
    <div class="section">
        <h3>저자 정보</h3>
        <table class="form-table">
            <tr>
                <th>지은이</th>
                <td>
                    <input type="text" id="author-name" class="medium" />
                    <button type="button" class="add-author">추가</button>
                </td>
            </tr>
            <tr>
                <th>작가 성별</th>
                <td>
                    <select id="author-gender" class="medium">
                        <option value="M">M</option>
                        <option value="F">F</option>
                    </select>
                </td>
            </tr>
            <tr>
                <th>작가 소개</th>
                <td><textarea id="author-bio" rows="4" class="long"></textarea></td>
            </tr>
            <tr>
                <th>작가 국적</th>
                <td><input type="text" id="author-nationality" class="medium" /></td>
            </tr>
        </table>
    </div>

    <!-- 출판사 정보 섹션 -->
    <div class="section">
        <h3>출판사 정보</h3>
        <table class="form-table">
            <tr>
                <th>출판사명</th>
                <td><input type="text" id="publisher-name" class="medium" /></td>
            </tr>
            <tr>
                <th>대표명</th>
                <td><input type="text" id="publisher-ceo" class="medium" /></td>
            </tr>
            <tr>
                <th>사업자번호</th>
                <td><input type="text" id="business-number" class="medium" /></td>
            </tr>
            <tr>
                <th>기본 주소</th>
                <td><input type="text" id="address1" class="long" /></td>
            </tr>
            <tr>
                <th>상세 주소</th>
                <td><input type="text" id="address2" class="long" /></td>
            </tr>
            <tr>
                <th>우편번호</th>
                <td><input type="text" id="zipcode" class="medium" /></td>
            </tr>
            <tr>
                <th>전화번호</th>
                <td><input type="text" id="phone" class="medium" /></td>
            </tr>
            <tr>
                <th>국적</th>
                <td><input type="text" id="publisher-nationality" class="medium" /></td>
            </tr>
        </table>
        <button style="margin-top:30px;margin-left:88%" id="create-button">등록하기</button>
    </div>

<script>
    $(document).ready(function(){
        let categorySmallId;
        let image;

        $('#create-button').click(function(event){
            event.preventDefault();
            // 상품명
            let name = $('#product-name').val();
            // isbn
            let isbn = parseInt($('#isbn').val().trim());
            // translator
            let translator = $('#translator').val();
            // 카테고리
            // let categorySmallId = categorySmallId;
            // 정가
            let originalPrice = parseInt($('#price-original').val().replace(/[^0-9]/g,''));
            // 할인율
            let discountPercent = parseInt($('#discount-rate').val().replace(/[^0-9]/g,''));
            // 할인가격
            let discountPrice = parseInt($('#price-discounted').val().replace(/[^0-9]/g,''));
            // 판매가
            let salePrice = parseInt($('#price-sale').val().replace(/[^0-9]/g,''));
            // 등록일
            let releaseDate = $('#reg-date').val();
            // 이미지
            // let image = image;
            // 목차
            let tableOfContent =


            axios.post('/admin/bookCreate',{
                name:name,
                isbn:isbn,
                translator:translator,
                categorySmallId:categorySmallId,
                originalPrice:originalPrice,
                discountPercent:discountPercent,
                discountPrice:discountPrice,
                salePrice:salePrice,
                releaseDate:releaseDate,
                image:image,
            },
            {
                headers:{'content-type':'application/json'}
            }).then(function(response){

            })
        });




        $('#product-image').on('change', function(e){
            var file = e.target.files[0];

            var maxSize = 5 * 1024 * 1024; // 5MB in bytes
            if (file.size > maxSize) {
                alert("파일 크기가 5MB를 초과합니다. 다시 선택해주세요.");
                $(this).val('');  // 파일 선택 초기화
                $('#img-preview').attr('src', '');  // 미리보기 이미지 초기화
                return;  // 크기가 초과하면 함수 종료
            }

            var formData = new FormData();
            formData.append('image', file);

            console.log(formData.get('image'));

            axios.post('/admin/upload', formData,{
                headers:{'content-type':'multipart/form-data'}
            }).then(function(response){
                image = response.data;
                console.log(response.data);
                console.log('image:'+image);

                $('#img-preview').attr('src', response.data);
            })
        });

        $('#price-original').on('input', function() {
            if(/[^0-9,]/g.test($(this).val())){
                alert('숫자만 넣어주세요.');
                $(this).val('');
            }
            let value = $(this).val().replace(/,/g,'');
            value = parseInt(value);
            let discount = parseInt($('#discount-rate').val().replace(/[^0-9]/g,''));
            console.log(value);

            if (discount >= 100) {
                $('#discount-rate').val(100);  // 할인율이 100 이상이면 100으로 설정
                discount = parseInt($('#discount-rate').val());
            }

            if (value > 0) {
                $(this).val(value.toLocaleString());  // 가격 표시
                $('#price-sale').val((Math.round(value-(discount/100*value))).toLocaleString());  // 가격 표시
                $('#price-discounted').val(($('#price-original').val().replace(/,/g,'')-$('#price-sale').val().replace(/,/g,'')).toLocaleString());
            } else if (value <= 0) {
                $(this).val(0);  // 값이 0 이하일 경우 0으로 설정
                $('#price-sale').val(0);  // 판매가 0으로 설정
                $('#price-discounted').val(0);
            }
        });

        $('#discount-rate').on('input', function(){
            if(/[^0-9,]/g.test($(this).val())){
                alert('숫자만 넣어주세요.');
                $(this).val('0');
            }

            let discount = parseInt($(this).val());
            let value = parseInt($('#price-original').val().replace(/,/g,''));

            if (discount >= 100) {
                $('#discount-rate').val(100);  // 할인율이 100 이상이면 100으로 설정
                discount = parseInt($('#discount-rate').val());
            }

            if (value > 0) {
                $('#price-original').val(value.toLocaleString());  // 가격 표시
                $('#price-sale').val((Math.round(value-(discount/100*value))).toLocaleString());  // 가격 표시
                $('#price-discounted').val(($('#price-original').val().replace(/,/g,'')-$('#price-sale').val().replace(/,/g,'')).toLocaleString());
            } else if (value <= 0) {
                $(this).val(0);  // 값이 0 이하일 경우 0으로 설정
                $('#price-sale').val(0);  // 판매가 0으로 설정
                $('#price-discounted').val(0);
            }
        });

        $('.category-large').click(function(){
            let categoryResponse = [];
            let categoryLargeName = $(this).closest('.category-list').find('.category-large').text();

            $('.category-large').css('color', '#333');
            $(this).css('color', '#007acc');

            categoryResponse.push({
                categoryLargeName: categoryLargeName,
                categoryLargeId: $(this).closest('.category-list').find('.category-large-id').val()
            })
            console.log($(this).closest('.category-list').find('.category-large').text())
            console.log($(this).closest('.category-list').find('.category-large-id').val())

            axios.post('/admin/bookCategory', categoryResponse, {
                headers: {'content-type':'application/json'}
            }).then(function(response){
                $('#category-name').text('(대분류) '+ categoryLargeName+' > ').css('margin-top', '10px');

                let list = [];

                response.data.forEach(function(item){
                    $('.category-medium').remove();
                    console.log(item);
                    let categoryItem = $('<ul class="category-list"><li class="category-medium"></li></ul>')
                        .find('li')
                        .text(item.categoryMediumName)
                        .data('id', item.categoryMediumId)
                        .css('margin-bottom', '12px')
                        .end();
                    list.push(categoryItem);
                })
                list.forEach(function(item){
                    $('#categoryMedium').append(item);  // 중분류 리스트에 항목 추가
                })

                $('.category-medium').click(function(){
                    let categoryResponse = [];
                    let categoryMediumName = $(this).closest('.category-list').find('.category-medium').text();
                    let categoryMediumId = $(this).closest('.category-list').find('.category-medium').data('id');

                    console.log($(this).closest('.category-list').find('.category-medium').text());
                    console.log($(this).closest('.category-list').find('.category-medium').data('id'));

                    categoryResponse.push({
                        categoryMediumName: categoryMediumName,
                        categoryMediumId: categoryMediumId
                    })

                    $('.category-medium').css('color', '#333');
                    $(this).css('color', '#007acc');

                    axios.post('/admin/bookCategory', categoryResponse, {
                        headers: {'content-type' : 'application/json'}
                    }).then(function(response){
                        $('#category-name').text('(대분류) '+ categoryLargeName+' > '+'(중분류) '+categoryMediumName+' > ').css('margin-top', '10px');

                        let list = [];

                        response.data.forEach(function(item){
                            $('.category-small').remove();
                            console.log(item);
                            let categoryItem = $('<ul class="category-list"><li class="category-small"></li></ul>')
                                .find('li')
                                .text(item.categorySmallName)
                                .data('id', item.categorySmallId)
                                .css('margin-bottom', '12px')
                                .end();
                            list.push(categoryItem);
                        })

                        list.forEach(function(item){
                            $('#categorySmall').append(item);
                        })

                        $('.category-small').click(function(){
                            let categorySmallName = $(this).closest('.category-list').find('.category-small').text();
                            categorySmallId = $(this).closest('.category-list').find('.category-small').data('id');
                            $('.category-small').css('color', '#333');
                            $(this).css('color', '#007acc');

                            $('#category-name').text('(대분류) '+ categoryLargeName+' > '+'(중분류) '+categoryMediumName+' > '+'(소분류) '+categorySmallName).css('margin-top', '10px');
                        })
                    })
                })
            })
        });
    });
</script>

</body>
</html>
