<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/fragments/header.css">
    <link rel="stylesheet" href="/css/fragments/footer.css">
    <link rel="stylesheet" href="/css/fragments/sidebar.css">
    <link rel="stylesheet" href="/css/myPage/add-address.css">
</head>
<body>

<div th:replace="~{fragments/header :: header}"></div>





<div class="container">
    <div class="content">
        <div class="content-head">
            <div class="first-category">
                <span>홈 / 마이쇼핑 / 배송 주소록 관리</span>
            </div>
        </div>
    </div>
</div>

<div class="main-container">
    <!-- 사이드바 -->
    <div th:replace="~{fragments/sidebar :: sidebar}"></div>

    <!-- 메인 컨텐츠 -->
    <main class="main-content">
        <form action="/myPage/addAddress" method="post">
            <h3>배송 주소록 관리</h3>
            <div class="form-container">
                <div class="form-group">
                    <label for="nickname">* 배송지명</label>
                    <input type="text" id="nickname">
                </div>
                <div class="form-group">
                    <label for="name">* 성명</label>
                    <input type="text" id="name">
                </div>
                <div class="form-group">
                    <label for="zipcode">* 주소</label>
                    <div class="address-group">
                        <input type="text" id="zipcode">
                    </div>
                </div>
                <div class="form-group">
                    <label></label>
                    <input type="text">
                </div>
                <div class="form-group">
                    <label></label>
                    <input type="text">
                </div>
                <div class="form-group">
                    <label>* 휴대전화</label>
                    <input type="tel">
                </div>
                <div class="checkbox-group">
                    <input type="checkbox" checked>
                    <label>기본 배송지로 저장</label>
                </div>
            </div>
            <div class="btn-container">
                <input type="submit" value="등록" class="btn black">
                <input type="reset" value="취소" class="btn">
            </div>
        </form>
    </main>
</div>




<div th:replace="~{fragments/footer :: footer}"></div>

</body>
</html>