<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/fragments/header.css">
    <link rel="stylesheet" href="/css/fragments/footer.css">
    <link rel="stylesheet" href="/css/fragments/sidebar.css">
    <link rel="stylesheet" href="/css/myPage/coupon-list.css">
</head>
<body>

<div th:replace="~{fragments/header :: header}"></div>





<div class="container">
    <div class="content">
        <div class="content-head">
            <div class="first-category">
                <span>홈 / 마이쇼핑 / 마이쿠폰</span>
            </div>
        </div>
    </div>
</div>

<div class="main-container">
    <!-- 사이드바 -->
    <div th:replace="~{fragments/sidebar :: sidebar}"></div>

    <!-- 메인 컨텐츠 -->
    <main class="main-content">
        <h3>쿠폰내역</h3>
        <hr>

        <table class="board-table">
            <thead>
            <tr>
                <th>번호</th>
                <th>쿠폰명</th>
                <th>할인</th>
                <th>최대 할인 금액</th>
                <th>최소 주문 금액</th>
                <th>쿠폰 유효 기간</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>1</td>
                <td>회원가입 축하 쿠폰</td>
                <td>2,000</td>
                <td>0</td>
                <td>15,000</td>
                <td>2025-03-12 ~ 2025-03-21</td>
            </tr>
            </tbody>
        </table>

        <div>
            <form class="howtopag" action="/board/list" method="get">
                <button type="submit" name="page">❮❮</button>
                <button type="submit" name="page">❮</button>
                <button type="submit" name="page">num</button>
                <button type="submit" name="page">❯</button>
                <button type="submit" name="page">❯❯</button>
            </form>
        </div>
    </main>
</div>





<div th:replace="~{fragments/footer :: footer}"></div>

</body>
</html>