<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/fragments/header.css">
    <link rel="stylesheet" href="/css/fragments/footer.css">
    <link rel="stylesheet" href="/css/book/book-list.css">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
</head>
<body>

<div th:replace="~{fragments/header :: header}"></div>





<div class="container">
    <div class="content">
        <div class="content-head">
            <div class="first-category">
                <span>홈 / 아우터</span>
            </div>

            <h1 class="second-category">Outer</h1>
        </div>

        <div class="content-main">
            <div class="sort">
                <p class="product-count">
                    총 <strong class="highlight" th:text="${bph.bookCnt}"></strong>개의 상품이 있습니다.
                </p>

                <select>
                    <option value="">- 정렬방식 -</option>
                    <option value="latest">최신순</option>
                    <option value="low-price">낮은 가격순</option>
                    <option value="high-price">높은 가격순</option>
                </select>
            </div>

            <div class="product-grid">
                <a th:each="item : ${list}" href="/bookDetail" class="product">
                    <img th:src="${item.image}" th:alt="${item.name}">
                    <div class="hover-buttons">
                        <button>장바구니</button>
                        <button>구매</button>
                    </div>
                    <p class="product-name" th:text="${item.name}" style="text-decoration:none"></p>
                    <p class="product-price" id="salePrice" th:text="${item.salePrice}+'원'"><strong>999,999,999원</strong></p>
                </a>

    </div>
    <form class="howtopag" action="/board/list" method="get">
        <button type="submit" name="page">❮❮</button>
        <button type="submit" name="page">❮</button>
        <button type="submit" name="page">num</button>
        <button type="submit" name="page">❯</button>
        <button type="submit" name="page">❯❯</button>
    </form>
</div>

<div th:replace="~{fragments/footer :: footer}"></div>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        var prices = document.querySelectorAll('.product-price');
        prices.forEach(function(price) {
            var rawPrice = price.innerText.replace('원', '').trim(); // '원' 제거하고 숫자만 추출
            var formattedPrice = parseInt(rawPrice).toLocaleString(); // 콤마 추가
            price.innerHTML = '<strong>' + formattedPrice + '원</strong>'; // 다시 '원' 추가
        });
    });
</script>

</body>

</html>