<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/fragments/header.css">
    <link rel="stylesheet" href="/css/fragments/footer.css">
    <link rel="stylesheet" href="/css/fragments/nav.css">
    <link rel="stylesheet" href="/css/book/book-detail.css">
    <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
</head>
<body>

<div th:replace="~{fragments/header :: header}"></div>





<div class="container">
    <div class="content">
        <div class="content-head">
            <div class="first-category">
                <span>홈 / 아우터</span>
            </div>

            <div class="second-category">
                <!-- 상품 이미지 -->
                <div class="product-image">
                    <img th:src="${bookDto.image}" th:alt="${bookDto.name}">
                </div>

                <!-- 상품 정보 -->
                <div class="product-info">
                    <h1 class="product-title" th:text="${bookDto.name}">캐시미어 베이직 니트</h1>
                    <!-- 지은이 추가, 출판사 조인-->
                    <p th:text="' (지은이), '+${bookDto.translator}+' (역자), '+${bookDto.publisherId}+' (출판), '+${#dates.format(bookDto.releaseDate, 'yyyy-MM-dd')}">500,000원</p>

                    <div class="addtional-info">
                        <p><strong>정가&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong> <span th:text="${#numbers.formatInteger(bookDto.originalPrice,3,'COMMA')}+'원'"></span></p>
                        <p><strong>판매가&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>
                            <span th:text="${#numbers.formatInteger(bookDto.salePrice,3,'COMMA')}+'원'" style="font-size:23px; vertical-align: -3px;"></span>
                            <span th:text="'('+${#numbers.formatInteger(bookDto.discountPercent*100, 0)}+'%, '+${bookDto.discountPrice}+'원 할인)'"></span>
                        </p>
                        <p><strong>마일리지&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>
                            <span th:text="${#numbers.formatInteger(#numbers.formatInteger(bookDto.originalPrice*0.05,0),3,'COMMA')}+'원(5%) + 멤버십(최대6%)'"></span>
                        </p>
                        <p><strong>배송방법&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong> 택배</p>
                        <p><strong>배송비&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong> 무료</p>
                    </div>

                    <div class="addtional-info">
<!--                        <p class="shipping-info"><strong>배송방법 :</strong> 택배</p>-->
<!--                        <p class="shipping-info"><strong>배송비 :</strong> 무료</p>-->

                        <p class="product-detail">(최소 주문 수량 1개 이상)</p>

                        <!-- 수량 선택 -->
                        <div class="quantity-selector">
                            <button id="decrease">-</button>
                            <input type="text" id="quantity" value="1" maxlength="3" max="100">
                            <button id="increase">+</button>
                        </div>
                    </div>
                    <script>
                        $(document).ready(function (){
                            let quantity = $("#quantity").val();
                            parseInt(quantity);
                            let price = parseInt($("#total-price").text().replace('원','').replace(/,/g,''));

                            function updateTotal(){
                                let totalPrice = quantity * price;
                                $('#total-price').text(totalPrice.toLocaleString()+"원");
                            }

                            $('#quantity').change(function(){
                               quantity = parseInt($('#quantity').val());
                                if(quantity > 1){
                                    updateTotal();
                                    // 새로고침 시키기, 문자열 못들어오게 만들기
                                    return;
                                }
                                alert("1개 이상만 주문이 가능합니다.")
                            });

                           $('#decrease').click(function(){
                               if(quantity > 1){
                                   quantity--;
                                   $('#quantity').val(quantity);
                                   updateTotal();
                               }
                           });

                           $('#increase').click(function(){
                               if(quantity < 500){
                                   quantity++;
                                   $('#quantity').val(quantity);
                                   updateTotal();
                               }
                           });
                           updateTotal();
                        });
                    </script>

                    <!-- 총 가격 -->
                    <div class="total" id="total">
                        TOTAL (Quantity)
                        <span class="total-price" id="total-price" th:text="${#numbers.formatInteger(bookDto.getSalePrice(), 3, 'COMMA')}+'원'">500,000원 (1개)</span>
                    </div>
                    <!-- 구매, 장바구니, 위시리스트 버튼 -->
                    <div class="button-group">
                        <button class="buy-now">BUY IT NOW</button>
                        <button class="cart">CART</button>
                        <button class="wishlist">LIKE</button>
                    </div>
                </div>
            </div>
        </div>





        <div class="third-category">
            <div class="info-container">
                <!-- 왼쪽 타이틀 -->
                <div class="info-title">기본정보</div>

                <!-- 오른쪽 상세 내용 -->
                <div class="info-details">
                    <div class="book-info">
                        <span>216쪽</span>
                        <span>145*210mm</span>
                        <span>300g</span>
                        <span>ISBN : 9788936434120</span>
                    </div>

                    <div class="category">
                        <p>
                            국내도서 > 추천도서 > <span class="highlight">올해의 책 Top 10</span>
                        </p>
                    </div>
                </div>
            </div>

            <div class="info-container">
                <!-- 왼쪽 타이틀 -->
                <div class="info-title">목차</div>
                <div class="category">
                    <p>
                        국내도서 > 추천도서 > <span class="highlight">올해의 책 Top 10</span>
                    </p>
                </div>
            </div>

            <div class="info-container">
                <!-- 왼쪽 타이틀 -->
                <div class="info-title">책소개</div>
                <div class="category">
                    <p>
                        국내도서 > 추천도서 > <span class="highlight">올해의 책 Top 10</span>
                    </p>
                </div>
            </div>

            <div class="qna-container">
                <!-- 탭 메뉴 -->
                <div class="tab-menu">
                    <div class="tab active">상품후기</div>
                    <div class="tab">상품문의</div>
                </div>

                <!-- 버튼 그룹 -->
                <div class="button-group">
                    <a href="/reviewList">LIST</a>
                    <a href="">WRITE</a>
                </div>

                <!-- Q&A 리스트 -->
                <div class="qna-list">
                    <div class="qna-item">
                        <div class="qna-index">1</div>
                        <div class="qna-title">문의</div>
                        <div class="qna-user">홍****</div>
                        <div class="qna-date">2025-03-16<br>16:00:03</div>
                    </div>
                </div>
            </div>

            <div class="qna-container">
                <!-- 탭 메뉴 -->
                <div class="tab-menu">
                    <div class="tab">상품후기</div>
                    <div class="tab active">상품문의</div>
                </div>

                <!-- 버튼 그룹 -->
                <div class="button-group">
                    <a href="">LIST</a>
                    <a href="">WRITE</a>
                </div>

                <!-- Q&A 리스트 -->
                <div class="qna-list">
                    <div class="qna-item">
                        <div class="qna-index">1</div>
                        <div class="qna-title">문의</div>
                        <div class="qna-user">홍****</div>
                        <div class="qna-date">2025-03-16<br>16:00:03</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>





<div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>