<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<header th:fragment="header">
    <div class="inner">
        <div class="toparea">
            <div class="toparea_state">
                <a href="/register">회원가입</a>
                <a href="/login">로그인</a>
                <a href="/myPage">마이페이지</a>
                <a href="/customerService">고객센터</a>
            </div>
        </div>
        <div class="top_nav_box">
            <div class="top_category">
                <img id="nav-icon" src="img/nav-icon.png" alt="카테고리 분류" height="30px">
                <a href="/">
                    <img src="img/read-up-logo.png" alt="로고" height="100px">
                </a>
            </div>
            <form action="" method="get" class="search-container">
                <select>
                    <option value="all">통합검색</option>
                    <option value="title">도서명</option>
                    <option value="author">저자명</option>
                </select>
                <input type="text" placeholder="검색어를 입력하세요">
                <button>
                    <img src="https://cdn-icons-png.flaticon.com/512/622/622669.png" alt="검색">
                </button>
            </form>
            <div class="top_mypage">
                <a href="/myPage">회원</a>
                <a href="">장바구니</a>
            </div>
        </div>
    </div>
</header>
</body>
</html>