<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<header th:fragment="header">
    <div class="inner">
        <div class="toparea">
            <div class="toparea_state">
                <a href="/register">회원가입</a>
                <a href="/login">로그인</a>
                <a href="/myPage">마이페이지</a>
                <a href="/customerService">고객센터</a>
            </div>
        </div>
        <div class="top_nav_box">
            <div class="top_category">
                <img id="nav-icon" src="/img/nav-icon.png" alt="카테고리 분류" height="30px">
                <a href="/">
                    <img src="/img/read-up-logo.png" alt="로고" height="100px">
                </a>
            </div>
            <form action="/bookList" method="get" class="search-container">
                <select th:name="option">
                    <option th:value="'all'" th:selected="${sc?.option} == 'all'">통합검색</option>
                    <option th:value="'title'" th:selected="${sc?.option} == 'title'">도서명</option>
                    <option th:value="'writer'" th:selected="${sc?.option} == 'writer'">저자명</option>
                </select>

                <input type="text" placeholder="검색어를 입력하세요" th:name="keyword" th:value="${sc?.keyword != null ? sc.keyword : ''}">
                <button>
                    <img src="https://cdn-icons-png.flaticon.com/512/622/622669.png" alt="검색">
                </button>
            </form>
            <div class="top_mypage">
                <a href="/myPage">회원</a>
                <a href="">장바구니</a>
            </div>
        </div>
    </div>
    <div id="parent-table">
        <div id="table">
            <table class="categoryAll">
                <tr class="categoryHeader">
                    <th>분류</th>
                    <th>국내도서</th>
                    <th>해외도서</th>
                    <th>eBook</th>
                </tr>
                <tr class="categoryMedium">
                    <td></td>
                    <td>건강</td>
                    <td>건강</td>
                    <td>건강</td>
                </tr>
                <tr>
                    <td></td>
                    <td>골프</td>
                    <td>골프</td>
                    <td>골프</td>
                </tr>
                <tr>
                    <td></td>
                    <td>야구</td>
                    <td>야구</td>
                    <td>야구</td>
                </tr>
                <tr class="categoryMedium">
                    <td></td>
                    <td>여행</td>
                    <td>여행</td>
                    <td>여행</td>
                </tr>
                <tr>
                    <td></td>
                    <td>아시아</td>
                    <td>아시아</td>
                    <td>아시아</td>
                </tr>
                <tr>
                    <td></td>
                    <td>유럽</td>
                    <td>유럽</td>
                    <td>유럽</td>
                </tr>
                <tr class="categoryMedium">
                    <td></td>
                    <td>컴퓨터</td>
                    <td>컴퓨터</td>
                    <td>컴퓨터</td>
                </tr>
                <tr>
                    <td></td>
                    <td>프로그래밍 언어</td>
                    <td>프로그래밍 언어</td>
                    <td>프로그래밍 언어</td>
                </tr>
                <tr>
                    <td></td>
                    <td>컴퓨터 공학</td>
                    <td>컴퓨터 공학</td>
                    <td>컴퓨터 공학</td>
                </tr>
            </table>
        </div>
    </div>
    <script src="/js/home.js"></script>
</header>
</body>
</html>