<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>WE READ UP 홈페이지</title>
    <link rel="stylesheet" href="/css/fragments/header.css">
    <link rel="stylesheet" href="/css/fragments/footer.css">
    <link rel="stylesheet" href="/css/home.css">
    <style>
        #table {
            margin: 0 38.784px;
            display: none;
        }
        .categoryAll {
            width: 100%;
            text-align: center;
            justify-content: space-between;
            align-items: center;
        }
        .categoryAll > td {
            background-color: #aaaaaa;
        }
        .categoryHeader {
            background-color: #333333;
            color: white;
        }
    </style>
</head>
<body>

<div th:replace="~{fragments/header :: header}"></div>
<div id="table">
    <table class="categoryAll">
        <tr class="categoryHeader">
            <th>분류</th>
            <th>국내도서</th>
            <th>해외도서</th>
            <th>eBook</th>
        </tr>
        <tr>
            <td></td>
            <td>건강</td>
            <td>건강</td>
            <td>건강</td>
        </tr>
        <tr>
            <td></td>
            <td>골프</td>
            <td>골프</td>
            <td>골프</td>
        </tr>
        <tr>
            <td></td>
            <td>야구</td>
            <td>야구</td>
            <td>야구</td>
        </tr>
        <tr>
            <td></td>
            <td>여행</td>
            <td>여행</td>
            <td>여행</td>
        </tr>
        <tr>
            <td></td>
            <td>아시아</td>
            <td>아시아</td>
            <td>아시아</td>
        </tr>
        <tr>
            <td></td>
            <td>유럽</td>
            <td>유럽</td>
            <td>유럽</td>
        </tr>
        <tr>
            <td></td>
            <td>컴퓨터</td>
            <td>컴퓨터</td>
            <td>컴퓨터</td>
        </tr>
        <tr>
            <td></td>
            <td>프로그래밍 언어</td>
            <td>프로그래밍 언어</td>
            <td>프로그래밍 언어</td>
        </tr>
        <tr>
            <td></td>
            <td>컴퓨터 공학</td>
            <td>컴퓨터 공학</td>
            <td>컴퓨터 공학</td>
        </tr>
    </table>
</div>

<section class="sale-section">
    <div class="sale-header">
        <div>
            <span class="sale-title">시즌오프 세일</span>
            <span class="sale-subtitle">기간한정 세일 상품들</span>
        </div>
        <div class="category-nav">
            <a href="#" class="active">아우터</a>
            <a href="#">상의</a>
            <a href="#">하의</a>
            <a href="#">신발</a>
            <a href="#">악세사리</a>
        </div>
    </div>

    <div class="product-grid">
        <div class="product">
            <div class="product-container">
                <img src="https://ecudemo276584.cafe24.com/web/product/medium/202305/5b1b33bf3a2c534946ba8851a67a4315.png" alt="캐시미어 베이직 니트">
            </div>
            <div class="product-name">캐시미어 베이직 니트</div>
            <div class="product-price">500,000원</div>
        </div>

        <div class="product">
            <div class="product-container">
                <img src="https://ecudemo276584.cafe24.com/web/product/medium/202305/decf2d8bd6fce68b55d688474cffdf8f.png" alt="브라운 워치 타입A">
            </div>
            <div class="product-name">브라운 워치 타입A</div>
            <div class="product-price">150,000원</div>
        </div>

        <div class="product">
            <div class="product-container">
                <img src="https://ecudemo276584.cafe24.com/web/product/medium/202305/bb5025802c49871946913c6b43e75515.png" alt="블랙 가죽 자켓">
                <div class="sale-badge">43%</div>
            </div>
            <div class="product-name">블랙 가죽 자켓</div>
            <div class="discount">150,000원</div>
            <div class="product-price">85,000원</div>
        </div>

        <div class="product">
            <div class="product-container">
                <img src="https://ecudemo276584.cafe24.com/web/product/medium/202305/760bd958e1bf5dae96970639d547ce0f.png" alt="브라운 워치 타입B">
            </div>
            <div class="product-name">브라운 워치 타입B</div>
            <div class="product-price">249,000원</div>
        </div>
    </div>
</section>





<section class="offline-shop">
    <div class="image-container">
        <img src="/img/offline-shop.png" alt="Offline Shop">
        <div class="text-overlay">
            OFFLINE SHOP <br>
            <button class="view-more">VIEW MORE +</button>
        </div>
    </div>
    <div class="info-container">
        <h3>주소</h3>
        <p>서울특별시 동작구 보라매로0길 00<br>00, Boramae-ro 0-gil, Dongjak-gu, Seoul, Republic of Korea</p>

        <h3>운영시간</h3>
        <p>AM 09:00 - PM 06:00 (토,일,공휴일 휴무)</p>

        <h3>점심시간</h3>
        <p>PM 12:00 ~ PM 01:00</p>
    </div>
</section>





<div th:replace="~{fragments/footer :: footer}"></div>
<script>
    const navIcon = document.getElementById('nav-icon');
    const table = document.getElementById('table');

    navIcon.addEventListener('mouseover', function() {
        table.style.display = 'block';
    })

    navIcon.addEventListener('mousedown', function() {
        table.style.display = 'block';
    })

    navIcon.addEventListener('mouseout', function() {
        table.style.display = 'none';
    })
</script>
</body>
</html>