<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.wru.wrubookstore.mapper.BookMapper">
    <!--  카테고리에 속한 책 들의 수  -->
    <select id="sCategoryCnt" parameterType="String" resultType="int">
        SELECT count(*)
        FROM book
        WHERE category_small_id=#{category}
    </select>
    <!--  책 한권의 정보 조회  -->
    <select id="select" parameterType="int" resultType="BookDto">
        SELECT *
        FROM book
        WHERE book_id=#{bookId}
    </select>
    <!--  책 여러권의 정보 조회 (카테고리별 등록순) -->
    <select id="selectRegList" parameterType="map" resultType="BookDto">
        SELECT *
        FROM book
        WHERE category_small_id=#{category}
        ORDER BY category_small_id desc, reg_date desc
        LIMIT #{offset}, #{limit}
    </select>
    <!--  책 하나의 지은이들 조회 (bookId별 지은이 -->
    <select id="selectWriter" parameterType="int" resultType="String">
        SELECT w.name
        FROM writer AS w, (SELECT writer_id FROM writer_book WHERE book_id=#{bookId} ORDER BY book_id desc) AS wb
        WHERE wb.writer_id = w.writer_id
        ORDER BY name;
    </select>
    <select id="selectPublisher" parameterType="int" resultType="String">
        SELECT p.name
        FROM publisher AS p, (SELECT publisher_id FROM book WHERE book_id=3) AS bp
        WHERE p.publisher_id = bp.publisher_id;
    </select>
    <!-- 테스트용 -->
    <insert id="insert" parameterType="BookDto">
        INSERT INTO book (publisher_id, category_small_id, name, translator, original_price, discount_percent,
                          discount_price, sale_price, release_date, reg_date, table_of_content, description, isbn,
                          stock_quantity, size, weight, page, image)
        VALUES (#{publisherId},#{categorySmallId},#{name},#{translator},#{originalPrice},#{discountPercent},
                #{discountPrice},#{salePrice},#{releaseDate},#{regDate},#{tableOfContent},#{description},#{isbn},
                #{stockQuantity},#{size},#{weight},#{page},#{image});
    </insert>

</mapper>